[Desktop Entry]
Encoding=UTF-8
Name=kpowersave
Name[xx]=xxkpowersavexx
Name[de]=KPowersave
Name[es]=KPowersave
Name[fr]=KPowersave
Name[it]=KPowersave
Name[ja]=KPowersave
Name[pt_BR]=KPowersave
Name[ru]=KPowersave
Name[sv]=KPowersave
Name[zh_CN]=KPowersave
Name[zh_TW]=KPowersave
GenericName=Battery Monitor
Exec=kpowersave
Icon=kpowersave
Type=Application
Comment=Battery monitor and general power management
Comment[bg]=Монитор за батерията и основно управление на енергията
GenericName[bg]=Монитор за батерията
Comment[cs]=Sledování stavu baterií a správa napájení
GenericName[cs]=Monitor baterie
GenericName[de]=Akkuüberwachung
Comment[de]=Akkuüberwachung und allgemeine Energieverwaltung
GenericName[el]=Παρακολούθηση Μπαταρίας
GenericName[es]=Monitor de carga de la batería
Comment[es]=Monitor de batería y gestión general de la energía
Comment[fi]=Akkumonitori ja yleinen virranhallinta
GenericName[fi]=Akkumonitori
Comment[fr]=Moniteur de batterie et gestion de l'alimentation
GenericName[fr]=Moniteur de batterie
GenericName[hu]=Akkumulátorfigyelő
Comment[it]=Monitor della batteria e gestione generale dell'alimentazione
GenericName[it]=Monitor della batteria
Comment[km]=កមមវធ<200b>តរតពនតយ<200b>ថម នង គរបគរង<200b>ថាមពល<200b>ទទៅ
GenericName[km]=កមមវធ<200b>តរតពនតយ<200b>ថម
Comment[nb]=Batteriovervåking og generell strømstyring
GenericName[nb]=Batteriovervåker
GenericName[nl]=Batterijmonitor
GenericName[ja]=バッテリモニタ
Comment[ja]=バッテリモニタと一般電源管理
Name[pa]=ਕ-ਊਰਜਾ ਸਭਾਲ
GenericName[pa]=ਬਟਰੀ ਦਰਸ਼ਕ
Comment[pl]=Monitor stanu baterii i ogólne zarządzanie energią
GenericName[pl]=Monitor baterii
Comment[pt]=Monitor de bateria e gestor global de energia
GenericName[pt]=Monitor de Bateria
Comment[pt_BR]=Monitor de Bateria e Gerenciamento de Energia Geral
GenericName[pt_BR]=Monitor de Bateria
GenericName[ru]=Монитор Батареи
Comment[ru]=Монитор батареи и управление энергосбережением
GenericName[sv]=Batteriövervakare
GenericName[tr]=Pil durumu izleme ve güç yönetimi arayüzü
Comment[tr]=Pil durumu izleme ve güç yönetimi arayüzü
Comment[uk]=Монітор стану батареї і загальне керування живленням
GenericName[uk]=Монітор батарей
Comment[xx]=xxBattery monitor and general power managementxx
GenericName[zh_CN]=电池监视器
Comment[zh_CN]=电池监视器和常规电源管理
GenericName[zh_TW]=電池監視器
Comment[zh_TW]=電池監視器和一般電源管理
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-KDE-autostart-condition=kpowersaverc:General:Autostart:true
Categories=System;Applet;

